<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/code.css">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery.js"></script>
    <meta charset="UTF-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <h1>a simple blog</h1>
    {% block content %}
    {% endblock %}
    {% block footer %}
    {# 任何每个页面都可能修改的文本区域的页脚 #}
        <p>Thanks for visiting my site! </p>
    {% endblock %}
</body>
</html>